<div class="container">

  <h3 class="title"> <strong> MODIFIER MON PROFIL </strong> </h3>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="photo-update">
      <%= f.label :photo do %>
        <span class="btn btn-default">Nouvelle photo</span>
      <% end %>
      <div class="hidden">
        <%= f.input :photo, label: false %>
      </div>
      <br>
      <div class="profile-picture">
        <img id="picture-preview" src="#" alt="" style="width: 40px; height: 40px; border-radius: 50%;" />
      </div>
    </div>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: "Nouveau mot de passe (facultatif)", autocomplete: "off", required: false %>
      <%= f.input :password_confirmation, label: "Confirmer nouveau mot de passe", required: false %>
      <%#= f.input :current_password, hint: "We need your current password to confirm your changes", required: true %>
      <%= f.button :submit, "Enregistrer les modifications", class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="edit-profile">
    <%= link_to "Retour", :back, class: "btn btn-back" %>
  </div>

  <br>
  <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

</div>
