
<div class="container">
  <div class="friends">

      <h3 class="title"> <strong>INVITER UN AMI</strong></h3>
      <div class="formcusto">
        <%= simple_form_for(@friend_request) do |f| %>
          <%= f.input :email, label: false, placeholder: "example@example.com", input_html: { class: "form-control" } %>
          <%= f.button :submit, value: "VALIDER"%>
        <%end%>
       </div>
       <br>

      <h3 class="title"> <strong>INVITATIONS</strong> </h3>
        <% @incoming.each do |ir| %>
          <div class="friendscards">
            <div class="profile-img">
              <%= link_to (image_tag ir.user.profile_picture, class: "avatar"), user_path(ir.user) %>
            </div>
            <div class="friendstext">
              <h5><%= ir.user.first_name %> <%= ir.user.last_name %></h5>
              <%= link_to "Accept", friend_request_path(ir), method: :patch %>
            </div>
          </div>
        <%end%>

      <div class="friendscards">
        <div class="friendstext">
          <%= link_to "INVITATIONS REÇUES", friend_requests_path %>
        </div>
      </div>

      <h3 class="title"> <strong> MES AMIS</strong></h3>
      <% @friends.each do |friend| %>
        <div class="friendscards">
          <div class="profile-img">
            <%= link_to (image_tag friend.profile_picture, class: "avatar"), user_path(friend) %>
          </div>
          <div class="friendstext">
              <h5><%= friend.first_name %> <%= friend.last_name %></h5>
              <%= link_to "Delete this friend", friend_path(friend), method: :delete,
              data: { confirm: "Are you sure you want to delete this friend ?" }  %>
          </div>
        </div>
      <%end%>
    <br>
    <div class="edit-profile">
      <%= link_to 'Back to home', root_path, class: "btn btn-back" %>
    </div>
  </div>
  <br>
</div>











