<%= simple_form_for(@friend_request) do |f| %>
  <%= f.input :email, label: "Add a friend with its email" %>
  <%= f.submit %>
<%end%>


<h1>My friends</h1>
<h1><%= @friends.each do |friend| %></h1>
<h2><%= friend.email %></h2>
<%= link_to "Delete this friend", friend_path(friend), method: :delete,
      data: { confirm: "Are you sure you want to delete this friend ?" }  %>
<%end%>


<%#= link_to "Add new friends", friend_requests_path, method: :post,
      data: { confirm: "The friend request has been sent to your friend, please wait for him to accept the request" }  %>




