
<div class="container">
  <div class="friends">

      <h3 class="title"> <strong> ADD FRIENDS</strong></h3>
      <div class="formcusto">
        <%= simple_form_for(@friend_request) do |f| %>
          <%= f.input :email, label: false, placeholder: "example@example.com", input_html: { class: "form-control" } %>
          <%= f.button :submit, value: "Send friend request"%>
        <%end%>
       </div>
       <br>


    <div class="friendscards">
      <div class="friendstext">
        <%= link_to "My friends requests", friend_requests_path %>
        <br>
        <%= link_to "Back to home", root_path %>
      </div>
    </div>

    <h3 class="title"> <strong> MY FRIENDS</strong></h3>
      <% @friends.each do |friend| %>
        <div class="friendscards">
          <div class="profile-img">
            <% if avatar_url = friend.facebook_picture_url %>
              <%= image_tag avatar_url, class: "avatar-navbar" %>
            <% else %>
              <%= cl_image_tag friend.photo, class: "avatar-navbar" %>
            <% end %>
          </div>
            <div class="friendstext">
              <h5><%= friend.first_name %> <%= friend.last_name %></h5>
              <%= link_to "Delete this friend", friend_path(friend), method: :delete,
              data: { confirm: "Are you sure you want to delete this friend ?" }  %>
            </div>
        </div>
      <%end%>

  </div>
</div>











