<% avatar_url = current_user.facebook_picture_url || "https://i.pinimg.com/originals/61/67/89/61678957b55e21fd48724b879f6e17d1.png" %>
 <div class="card">
        <div class="card-header">
          <div class="profile-img">
            <%= image_tag avatar_url, class: "avatar-navbar" %>
          </div>

          <div class="profile-info">
            <h4 class="specie"><strong> <%= catch.user.first_name %> <%= catch.user.last_name.first  %>. </strong></h4>
            <h5 class="technic"><%= catch.specie.name %></h5>
          </div>
          <div class="time">
            <%= catch.created_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
        <div class="content-img">
          <%= cl_image_tag catch.photo %>
        </div>

        <div class="card-footer">
          <div class="comments">
          <%= link_to 'Add review', catch_path(catch), class: "btn" %>
          </div>
          <div class="line">
            <hr>
          </div>

          <div class="link-see-more">
          <%=link_to "See more", catch_path(catch)%>
          </div>

        </div>

      </div>
