 <div class="card">
        <div class="card-header">
          <div class="profile-img">
            <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
          </div>

          <div class="profile-info">
            <h4 class="specie"><strong> <%= catch.user.pseudo %> </strong></h4>
            <h5 class="technic"><%= catch.specie.name %></h5>
          </div>
          <div class="time">
            <%= catch.created_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
        <div class="content-img">
          <%= cl_image_tag catch.photo %>
        </div>

        <div class="card-footer">
          <div class="comments">
          <%= link_to 'Add review', catch_path(catch), class: "btn" %>
          </div>
          <div class="line">
            <hr>
          </div>

          <div class="link-see-more">
          <%=link_to "See more", catch_path(catch)%>
          </div>

        </div>

      </div>
