<%= simple_form_for(@catch) do |f| %>
  <%= f.input :specie, label: "Espèce" %>
  <%= f.input :photo, label: "Photo" %>
  <%= f.input :size, label: "Taille", placeholder: "cm" %>
  <%= f.input :weight, label: "Poids", placeholder: "kg" %>
  <%= f.input :latitude, as: :hidden %>
  <%= f.input :longitude, as: :hidden %>
  <div class="catch-map-preview"></div>
  <%= f.button :submit, "Valider", class: "btn btn-primary"  %>
<% end %>
