<%= simple_form_for(@catch) do |f| %>
  <%= f.association :specie, label: "Specie", include_blank: "Choose a specie" %>
  <%= f.label :photo do %>
    <div class="btn-form-div">
      <span class="btn-form">Add a picture</span>
    </div>
  <% end %>
  <div class="hidden">
    <%= f.input :photo, label: false %>
  </div>
  <div class="image-background-preview">
  <img id="image-preview" src="#" alt="Waiting for your image"
    style="width: 100%; height: 100px; object-fit: contain; background: white;" />
  </div>
  <br>
  <div class="inline-form">
    <div class="form-item"> <%= f.input :size, placeholder: "cm" %> </div>
    <div class="form-item"> <%= f.input :weight, placeholder: "kg" %> </div>
  </div>
  <%= f.association :technic, label: "Technique", include_blank: "Choose a technique"%>
  <%= f.input :description, placeholder: "Add details"%>
  <%= f.input :latitude, as: :hidden %>
  <%= f.input :longitude, as: :hidden %>
  <%= f.input :created_at, as: :hidden %>
  <% if action_name == "new" %>
    <div class="catch-map-preview"> </div>
  <% end %>
  <br>
  <%= f.button :submit, "Add catch", class: "btn btn-primary"  %>
  <%= link_to 'Back', :back, class: "btn btn-danger" %>
<% end %>
