<%= simple_form_for(@catch) do |f| %>
  <%= f.association :specie, label: "Espèce *", include_blank: "Sélectionner une espèce" %>
  <%= f.label :photo do %>
    <div class="btn-form-div">
      <span class="btn btn-default">Ajouter une photo</span>
    </div>
    <% if @catch.errors.messages[:photo].present? %>
      Photo <%= @catch.errors.messages[:photo].join(', ') %>
    <% end %>
  <% end %>
  <div class="hidden">
    <%= f.input :photo, required: true, label: false %>
  </div>
  <div class="image-background-preview">
  <img id="image-preview" src="#" alt="Photo ?"
    style="width: 100%; height: 100px; object-fit: contain; background: white;" />
  </div>
  <br>
  <div class="inline-form">
    <div class="form-item"> <%= f.input :size, label: "Taille", placeholder: "cm" %> </div>
    <div class="form-item"> <%= f.input :weight, label: "Poids", placeholder: "kg" %> </div>
  </div>
  <%= f.association :technic, label: "Technique *", include_blank: "Sélectionner une technique"%>
  <%= f.input :description, label: "Détails", placeholder: "..."%>
  <%= f.input :latitude, as: :hidden %>
  <%= f.input :longitude, as: :hidden %>
  <%= f.input :created_at, as: :hidden %>
  <% if action_name == "new" %>
    <div class="catch-map-preview"> </div>
  <% end %>
  <br>
  <%= f.button :submit, "Valider", class: "btn btn-primary"  %>
  <br>
  <br>
  <%= link_to 'Retour', :back, class: "btn btn-back" %>
<% end %>
