<div class="stats">

  <div>
    <h2>Poisson record</h2>
    <%= @maximum%>
  </div>

  <div>
    <h2>Nombre total de prises</h2>
    <%= @count_total %>
  </div>

  <div>
    <h2>Taille moyenne</h2>
    <%= @average %><p>cm</p>
  </div>

  <div>
    <h2>Taille totale</h2>
    <%= @sum_size %><p>cm</p>
  </div>

  <div>
    <h2>Poids total</h2>
    <%= @sum_weight %><p>kg</p>
  </div>

</div>
