<div class="container">
  <div class="cards-container">
    <div class="row">
     <% @catches.each do |catch| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="card">
             <div class="card-description">
               <%= cl_image_tag catch.photo %>
               <h4><%= catch.specie.name %></h4>
               <h6><%= catch.technic.name %></h6>
               <h6>Size: <%= catch.size %></h6>
               <h6>Weight: <%= catch.weight %></h6>
               <br> <br>
               <div class="see-more text-center">
                <%=link_to "View details", catch_path(catch), class: "btn btn-success btn-sm" %>
               </div>
             </div>
         </div>
       </div>
     <% end %>
     </div>
  </div>
