<div class="card">
  <div class="card-header">
    <div class="profile-img">
      <div class= "avatar"> <%= cl_image_tag @catch.user.photo %> </div>
    </div>
    <div class="profile-info">
      <h4 class="specie"><strong> <%= @catch.user.pseudo %> </strong></h4>
      <br>
      <h5 class="technic"><%= @catch.specie.name %></h5>
    </div>
    <div class="time">
      <%= @catch.created_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <div class="content-img">
    <%= cl_image_tag @catch.photo %>
  </div>
  <div class="card-footer">
    <div class="description">
    </div>
    <div class="picto footer-links">
      <ul class="list-inline">
        <li> <%= @catch.technic.name %> </li>
        <li> <%= @catch.size %> cm </li>
        <li> <%= @catch.weight %> kg </li>
        <li> coordonnées : <%= @catch.latitude %>, <%= @catch.longitude %> </li>
      </ul>
      <%= @catch.description %>
    </div>
  </div>
  <div>
   <img class="static-map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%=@catch.latitude%>,<%= @catch.longitude %>&zoom=15&size=373x279&maptype=roadmap&markers=icon:https://i.imgur.com/07nU9eN.png%7C<%= @catch.latitude %>,<%= @catch.longitude %>&key=<%= ENV['GOOGLE_API_SERVER_KEY'] %>">
  </div>   
  <div>
  <%=link_to "Edit", edit_catch_path(@catch)%>
   <%= link_to "Delete", catch_path(@catch), method: :delete,
      data: { confirm: "Are you sure ?" }  %>
  </div>
</div>
<br>
<br>
