<div class="card">
  <div class="card-header">
    <div class="profile-img">
      <div class= "avatar"> <%= cl_image_tag @catch.user.photo %> </div>
    </div>
    <div class="profile-info">
      <h4 class="specie"><strong> <%= @catch.user.pseudo %> </strong></h4>
      <br>
      <h5 class="technic"><%= @catch.specie.name %></h5>
    </div>
    <div class="time">
      <%= @catch.created_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <div class="content-img">
    <%= cl_image_tag @catch.photo %>
  </div>
  <div class="card-footer">
    <div class="description">
    </div>
    <div class="picto footer-links">
      <ul class="list-inline">
        <li><%=@catch.size%> cm</li>
        <li><%=@catch.weight%> kg</li>
        <br>
        <li class="coord-gps">Technic: <%=@catch.technic.name%></li>
        <br>
        <li class="coord-gps"> GPS coordinates: <%= @catch.latitude %> - <%= @catch.longitude %> </li>
      </ul>
      <i> "<%= @catch.description %>" </i>
      <br><br>
</div>


          <% @catch.reviews.each do |review| %>
              <div class="friendscards reviews-display">
              <div class="profile-img">
                <% avatar_url = review.user.facebook_picture_url || "https://image.flaticon.com/icons/png/512/196/196675.png" %>
                <%= image_tag avatar_url, class: "avatar-navbar" %>
              </div>
              <div class="friendstext">
                <strong><p><%= review.user.first_name %> <%= review.user.first_name.first %> : </p></strong>
                <p><%= review.content %></p>
              </div>
            </div>
          <%end%>



    <br>

  <div id="add-review">
          <%= simple_form_for([@catch, @review]) do |f| %>
            <%= f.input :content, method: :create, label: false, placeholder: "Type your comment"%>
            <%= f.button :submit, "Add comment", class: "btn btn-primary" %>
          <% end %>
  </div>

  <div id="map"  style="width: 100%; height: 600px; " data-markers="<%= @markers.to_json %>"></div>

  <div>
    <% if current_user == @catch.user %>
      <%=link_to "Edit", edit_catch_path(@catch)%>
      <%= link_to "Delete", catch_path(@catch), method: :delete,
      data: { confirm: "Are you sure ?" }  %>
    <%end%>
    <%= link_to 'Back', :back, class: "btn btn-danger" %>
  </div>
</div>
<br>
<br>
