<p> <%= @catch.user.pseudo %> </p>
<p> <%= cl_image_tag @catch.user.photo %> </p>
<p> <%= cl_image_tag @catch.photo %> </p>
<p> <%= @catch.specie %> </p>
<p> <%= @catch.technic %> </p>
<p> <%= @catch.date %> </p>
<p> <%= @catch.size %> </p>
<p> <%= @catch.weight %> </p>
<p> <%= @catch.description %> </p>
