<div class="card">

  <div class="card-header">
    <div class="profile-img">
      <%= link_to (image_tag @catch.user.profile_picture, class: "avatar-navbar"), user_path(@catch.user) %>
    </div>
    <div class="profile-info">
      <div class="user-name">
      <%= @catch.user.first_name %> <%= @catch.user.last_name.first%>.
      </div>

      <div class="specie"><%= @catch.specie.name %></div>
    </div>
    <div class="time">
      <%= @catch.created_at.strftime("%d/%m/%Y") %>
    </div>
    <div>
      <% if current_user == @catch.user %>
      <%= link_to edit_catch_path(@catch) do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to catch_path(@catch), method: :delete, data: { confirm: "Are you sure ?" }  do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>

  <div class="content-img">
    <%= cl_image_tag @catch.photo %>
  </div>

  <div class="card-footer">
    <div class="picto footer-links">
      <div class="friendscards">
        <ul class="list-inline">
          <li class="coord-gps"><%=@catch.size%> cm</li>
          <li class="coord-gps"><%=@catch.weight%> kg</li>
          <br>
          <li class="coord-gps">Technic: <%=@catch.technic.name%></li>
          <br>
          <li class="coord-gps"> GPS coordinates: <%= @catch.latitude %> - <%= @catch.longitude %> </li>
        </ul>
      </div>
      <div class="friendscards">
      <i> "<%= @catch.description %>" </i>
      </div>
    </div>
</div>



  <div id="reviews">
    <% @catch.reviews.each do |review| %>
      <%= render "reviews/review", review: review %>
    <%end%>
  </div>


  <br>

  <div id="add-review">
    <%= simple_form_for([@catch, @review], remote: true) do |f| %>
      <%= f.input :content, method: :create, label: false, placeholder: "Type your comment"%>
      <%= f.button :submit, "Add comment", class: "btn btn-primary" %>
    <% end %>
  </div>
  <br>
  <div id="map"  style="width: 100%; height: 600px; " data-markers="<%= @markers.to_json %>"></div>

  <div>

    <%end%>
    <%= link_to 'Back', :back, class: "btn btn-danger" %>
  </div>

</div>

