<div class="main-container">
  <div class="cards-container">
    <div class="row">
     <% @catches.each do |catch| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
           <div class="card">
             <div class="card-description">
               <%= cl_image_tag catch.photo %>
               <h4><%= catch.name %></h4>
               <h6><%= catch.model %></h6>
               <h6><%= catch.description %></h6>
               <br> <br>
               <div class="see-more text-center">
                <%=link_to "See more", catch_path(catch), class: "btn btn-success" %>
               </div>
             </div>
         </div>
       </div>
     <% end %>
     </div>
  </div>
</div>
