<% if user_signed_in? %>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <%= link_to "My friend requests", friend_requests_path %>
  <a href="#">About us</a>
  <%= link_to "Edit my profile", edit_user_registration_path %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
</div>

<div class="navbar">

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div>
      <%= link_to root_path do %>
        <i class="fas fa-newspaper"></i>
      <% end %>
    </div>
    <div>
      <%= link_to friends_path do %>
        <i class="fas fa-user-friends"></i>
      <% end %>
    </div>
    <div class="profile-img">
      <% if avatar_url = current_user.facebook_picture_url %>
        <%= link_to (image_tag avatar_url, class: "avatar-navbar"), catches_path %>
      <% else %>
        <%= link_to (cl_image_tag current_user.photo, class: "avatar-navbar"), catches_path %>
      <% end %>
    </div>

</div>

<% end %>
