<div class="container">
    <h3 class="title"><strong>CHALLENGES</strong></h3>

    <div class="challenges">
      <p>In progress : <%= current_user.challenges.count %> </p>

      <% current_user.challenges.each do |challenge| %>
        <div class="friendscards challenges startend">
          <div><%= link_to challenge.name, challenge_path(challenge) %></div>
          <div> Deadline: <%= challenge.end_at.strftime("%d/%m/%Y")  %></div>
        </div>
      <% end %>
    </div>


  <h3 class="title"><strong>NEW CHALLENGE</strong></h3>
  <div>
    <%= simple_form_for(@challenge) do |f| %>
      <%= f.input :name, placeholder: "Challenge name"%>
      <%= f.input :start_at, as: :date, html5: true, label: "Start"  %>
      <%= f.input :end_at, as: :date, html5: true, label: "End" %>
      <%= f.submit "Confirm", class: "btn btn-success" %>
      <br>
      <br>
      <%= link_to 'Back to home', root_path, class: "btn btn-back" %>
    <% end %>
  </div>
  <br>
</div>
