<div>
  <div>
    <%= @challenge.name %>
  </div>

  <div>
    <%= @challenge.start_at %>
    <%= @challenge.end_at %>
  </div>

  <div>
    <% @challenge.users.each do |user| %>
      <%= user.full_name %>
    <% end %>
  </div>
</div>



<!-- <ul class="pyp-tabs">
  <li class="pyp-tab">
    <a class="" data-toggle="tab" href="#challenge-stats" role="tab" aria-selected="false">Stats</a>
  </li>
  <li class="pyp-tab">
    <a class="" data-toggle="tab" href="#challenge-catches" role="tab" aria-selected="false">Catches</a>
  </li>
</ul> -->


<!-- <div>
  <%= @max_size %>
</div>

<div>
  <%= @count_total %>
</div>

<div>
  <%= @average %>
</div>

<div>
  <%= @sum_size %>
</div>
 -->

