<div class="container">
  <h3 class="title"><strong>CHALLENGE : <%= @challenge.name.upcase %></strong></h3>

    <div class="startend">
      <div>
        <h3 class="title"><strong> START </strong> </h3>
        <%= @challenge.start_at.strftime("%d/%m/%Y") %>
      </div>
      <div>
        <h3 class="title"><strong> END </strong> </h3>
        <%= @challenge.end_at.strftime("%d/%m/%Y") %>
      </div>
    </div>
  <br>
  <h3 class="title"><strong> CHALLENGERS </strong></h3>
    <% @challenge.users.each do |user| %>
      <div class="friendscards profile-img">
        <div> <%= link_to (image_tag user.profile_picture, class: "avatar-navbar"), user_path(user) %> </div>
        <div> <%= link_to user.full_name, user_path(user) %> </div>
      </div>
    <% end %>
    <%= link_to 'Back to challenges', challenges_path, class: "btn btn-danger" %>

</div>


<!-- <div>
  <%= @max_size %>
</div>

<div>
  <%= @count_total %>
</div>

<div>
  <%= @average %>
</div>

<div>
  <%= @sum_size %>
</div>
 -->


