<div class="container">
  <h3 class="title"><strong> CHALLENGE : <%= @challenge.name.upcase %></strong></h3>

    <div class="startend">
      <div>
        <h3 class="title"><i class="fas fa-flag green"></i><strong> START </strong> </h3>
        <%= @challenge.start_at.strftime("%d/%m/%Y") %>
      </div>
      <div>
        <h3 class="title"><i class="fas fa-flag red"></i><strong> END </strong> </h3>
        <%= @challenge.end_at.strftime("%d/%m/%Y") %>
      </div>
    </div>
  <h3 class="title"><strong> CHALLENGERS </strong></h3>
    <% @challenge.users.each do |user| %>
      <div class="friendscards profile-img">
        <div> <%= link_to (image_tag user.profile_picture, class: "avatar-navbar"), user_path(user) %> </div>
        <div> <%= link_to user.full_name, user_path(user) %> </div>
      </div>
    <% end %>

  <h3 class="title"><strong> STATS </strong></h3>

  <div class="friendscards">
    <div class="friendtext">
      <p>BIGGEST FISH : <% @max_size.first(3).each do |array| %> </p>
         <p> <%= image_tag array.user.profile_picture, class: "avatar-navbar" %> <%= array.user.first_name %> <%= array.size %> cm <p/>
        <% end %>
    </div>
  </div>

    <div class="friendscards">
      <p>TOTAL CATCHES : <%= @count_total.count %><p/>
    </div>

    <div class="friendscards">
      <p>AVERAGE SIZE : <%= @average.first.size %> cm<p/>
    </div>

    <div class="friendscards">
      <p>TOTAL SIZE : <%= @sum_size.first.size %> cm<p/>
    </div>

    <div class="friendscards">
      <p>TOTAL WEIGHT : <%= @sum_weight.first.first %> kg<p/>
    </div>
    <%= link_to 'Back to challenges', challenges_path, class: "btn btn-back" %>
    <br>
    <br>
</div>







