<div class="container">
  <div>
    <div>
      <h3 class="title"><strong>CHALLENGE : <%= @challenge.name.upcase %></strong></h3>
    </div>
    <div class="startend">
      <div>
        <h3 class="title"><i class="fas fa-flag green"></i><strong> START </strong> </h3>
        <%= @challenge.start_at.strftime("%d/%m/%Y") %>
      </div>
      <div>
        <h3 class="title"><i class="fas fa-flag red"></i><strong> END </strong> </h3>
        <%= @challenge.end_at.strftime("%d/%m/%Y") %>
      </div>
    </div>
  </div>

    <h3 class="title"><strong> PARTICIPANTS </strong> </h3>
    <% @challenge.users.each do |user| %>
      <div class="friendscards profile-img">
        <div> <%= link_to (image_tag user.profile_picture, class: "avatar-navbar"), user_path(user) %> </div>
        <div> <%= link_to user.full_name, user_path(user) %> </div>
      </div>

    <% end %>
  <%= simple_form_for([@challenge, @challenge_user]) do |f| %>
    <div class="challenge-form">
      <div> <%= f.association :user, required: true, label: "", collection: @friends_to_add, include_blank: "Ajouter un ami", label_method: :full_name %> </div>
      <div> <%= f.submit "Ajouter", class: "btn btn-add" %> </div>
    </div>
  <% end %>
  <br>
  <div>
    <%= link_to "Confirmer", challenge_path(@challenge), class: "btn btn-primary" %>
    <br>
    <br>
    <%= link_to 'Retour', challenges_path, class: "btn btn-back" %>

  </div>
</div>
